/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  } */

  h1 {
    text-align: center;
  }
  
  .course-card {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .course-card img {
    width: 200px;
    height: auto;
    border-radius: 5px;
    margin-right: 20px;
  }
  
  .course-details {
    flex: 1;
  }
  
  .course-details h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .course-details p {
    margin-bottom: 10px;
  }
  
  .course-details a {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .course-details a:hover {
    background-color: #0056b3;
  } 